body{
    background-color: #d9d9d9;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px; /* 5px rounded corners */
    background-color: #ffff;
    margin: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px 16px;
}

.container i{
    color: red;
}

/*loading style*/
.load {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-top-color: #51d4db;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}

#dados_vagas{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/*Responsive layout - makes a one column layout instead of a two-column layout*/
@media screen and (min-width: 800px) {

    h2{
        width: 30%;
        margin: auto;
    }

    #dados_vagas{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 10px auto;
    }

    .card, .container{
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }
}